body {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
}
header img {
  margin-right: 15px;
}
header h3,
header p {
  margin: 0;
}

.content h1 {
  margin: 0;
}

.button {
  background: #fff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 0 15px;
}
.search-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff;
  -webkit-box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.drawer .items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}
.drawer h2 {
  margin: 0;
}

.cartTotalBlock ul {
  margin-bottom: 40px !important;
}
.cartTotalBlock ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}
.cartTotalBlock ul li div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}
.cartTotalBlock .greenButton {
  position: relative;
}
.cartTotalBlock .greenButton:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.cartTotalBlock .greenButton img {
  position: absolute;
  right: 30px;
  top: 20px;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.greenButton {
  width: 100%;
  height: 55px;
  border-radius: 18px;
  background: #8cd137;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.greenButton:hover {
  background: #9dd854;
}
.greenButton:active {
  background: #7aba2b;
}

.cartItem {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}
.cartItem .cartItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: 0 -3px;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.cartItem p {
  font-size: 16px;
  margin: 0;
}
.cartItem b {
  font-size: 14px;
}
.cartItem .removeBtn {
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}
.cartItem .removeBtn:hover {
  opacity: 1;
}